header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #353535;
  color: white;
  padding: 10px;
}

header ul {
  list-style: none;
  display: flex;
}

header li {
  margin: 10px;
}

a::after {
  content: "";
  display: block;
  height: 1.5px;
  background: white;
  width: 0;
  transition: width 0.3s ease-in-out;
  animation: 3s infinite colorAnimation;
}

a:hover::after {
  width: 100%;
}

@keyframes colorAnimation {
  0% {
    background: white;
  }
  25% {
    background: #b6f9f6;
  }
  50% {
    background: #fff0a6;
  }
  75% {
    background: #ffbfef;
  }
  100% {
    background: white;
  }
}
