/* https://coolors.co/ffffff-353535-b6f9f6-fff0a6-ffbfef */

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300..700&display=swap");
@import "./style/animation.css";
@import "./style/header.css";
@import "./style/footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

main {
  flex: 1;
  position: relative;
}

.app {
  user-select: none;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: medium;
  text-rendering: optimizeLegibility;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: none;
  position: relative;
  transition: font-size 0.2s ease-in;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  cursor: none;
  margin: 0.5vw;
  padding: 0.5vw;
  color: white;
  background-color: #353535;
  border: solid white 3px;
  border-radius: 1vw;
  animation: borderColorAnimation infinite 10s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    transform 0.05s ease-in-out;
}

button:hover {
  color: #353535;
  background-color: white;
}

button:active {
  transform: scale(75%);
}

.row {
  margin: 1vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: stretch;
  height: 60vh;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.unique {
  margin: 1vw;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #353535;
  cursor: none;
}

a::after {
  content: "";
  display: block;
  height: 1.5px;
  background: white;
  width: 0;
  transition: width 0.3s ease-in-out;
  animation: 3s infinite colorAnimation ease-in-out;
}

a:hover::after {
  width: 100%;
}

h1 {
  font-family: "Monoton", Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 9vh;
  margin-left: 2vw;
  transition: font-size 0.2s ease-in;
}

h2 {
  font-family: "Monoton", Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.1vw;
}

h1 span {
  display: inline-block;
  transform: translateX(5vw);
  color: #35353500;
  animation: appear 1s ease-in-out forwards;
}

#pointer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: white;
  animation: 3s infinite colorAnimation ease-in-out;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  pointer-events: none;
  transition: left 0.05s ease, top 0.05s ease, transform 0.05s ease;
  border: solid #353535 2px;
}

.foreground {
  overflow-x: auto;
  max-width: 100vw;
  z-index: 5;
  position: relative;
}

.coolBackground {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 3vw;
  padding: 1.5vw;
  font-size: 2.5vh;
  background-color: #ffffff75;
  transition: font-size 0.2s ease-in;
  border: solid white 1px;
  border-radius: 1vw;
  animation: borderColorAnimation infinite 10s ease-in-out;
  width: fit-content;
}

main ul {
  list-style: none;
  margin: 2vw;
  padding: 1vw;
  font-size: 2.5vh;
  background-color: #ffffff75;
  transition: font-size 0.2s ease-in;
  border: solid white 1px;
  border-radius: 1vw;
  animation: borderColorAnimation infinite 10s ease-in-out;
  width: fit-content;
}

.scroll {
  position: relative;
  flex-grow: 1;
  max-height: 65%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.25vw;
  background-color: #353535;
  border-radius: 1vh;
  animation: 10s infinite colorBlackAnimation ease-in-out;
  transition: transform 0.1s ease-out, height 0.1s ease-out;
}

hr {
  border: solid 1px white;
  animation: borderColorAnimation infinite 5s ease-in-out;
  margin: 1vw;
}

.block {
  background-color: #ffffff00;
  width: 0.5%;
  flex: 1;
  border-radius: 25%;
  margin: 0.1%;
  animation: morphAnimation 10s infinite ease-in-out;
  animation-direction: alternate;
}

.invertedBlock {
  background-color: #ffffff00;
  width: 0.5%;
  border-radius: 25%;
  flex: 1;
  margin: 0.1%;
  animation: morphAnimationBis 10s infinite ease-in-out;
  animation-direction: alternate;
}

@media (pointer: coarse) {
  #pointer {
    display: none;
    animation: none;
  }
}

@media screen and (max-width: 480px) {
  .app {
    font-size: small;
  }
  h1 {
    font-size: 7.5vh;
  }
  p {
    font-size: 2vh;
  }
  footer {
    font-size: smaller;
  }
}

@media screen and (max-width: 400px) {
  .app {
    font-size: xx-small;
  }
  h1 {
    font-size: 6vh;
  }
  p {
    font-size: 1.5vh;
  }
  footer {
    font-size: smaller;
  }
}
